/* Application */
.content {
    margin: 15px;
}

/* Detail */

.detail-box {
    background: #fbfbfb;
    border: 2px solid #efefef;
    border-radius: 10px;
    min-height: 120px;
    margin: 6px 15px;
    color: #444;
}

.detail-title {
    font-size: 18px;      
    padding: 0 0 0 10px;
}

.detail-content {
    padding: 15px;    
}

.detail-label {
    min-width: 160px;
}

.legend-item-default {
    width: 30px;
    height: 30px;
    background: #efefef;
    border: 2px solid #dfdfdf;
    display: inline-block;
}

.legend-item-late {
    background: #f2dede;
}

.legend-item-label {
    margin: 0 7px 16px 12px;
    vertical-align: middle;
}

.error-message {
    color: red; 
    display: block; 
    text-align: left;
}

.form-group label {
    margin-bottom: 0px !important;
}

.form-group-right {
    text-align: right;
}

.input-date {
    width: 100px;
}

/* Grids */

.plan-container {
    display: flex;    
    overflow-x: scroll;
    border: 2px solid #ddd;
    margin: 0 15px;
}

.plan-info {
    clear: both;
    margin: 0 0 3px 0;
}

.day-plan {
    float: left;
    padding: 7px 9px;
    border-right: 2px dashed #ddd;
    min-width: 180px;
}

.day-plan h4 {
    color: #444;
    border-bottom: 2px solid #444;
    text-align: center;
}

.group-day-plan {
    border: 3px solid #dfdfdf;
    background: #efefef;
    margin: 5px 0 0 0;
    font-size: 13px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

/* Action Container */

.action-container {
    margin: 0 15px;
    text-align: right;
}

/* Detail List View */
.list-container {
    margin: 15px;
    overflow-y: scroll;
    max-height: 300px;
}

.detail-list-day {
    margin: 20px 0;
}

.detail-list-day-header {
    display: inline-block;
    width: 200px;
    background: #efefef;
    border-radius: 10px 10px 0 0;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.detail-list-day-content {
    background: #efefef;
    padding: 2px;
}

.detail-list-day-group {
    padding: 2px 0;
}

/* Manus */
span.manu-item {
    width: 0px;
    border-left: 1.3px solid transparent;
    border-right: 2px solid transparent;
    height: 100%;
    display:block;
    float:left;
}

/* Animation */

.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

#plan-schedule .ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

#plan-schedule .ng-enter.ng-enter-active {
  opacity:1;
}

/* Buttons */

.btn {
    cursor: pointer;
}

/* RBT Table Fix */
table, tbody, tr, td {
    display: block;
}