/* Application */
.content {
    margin: 15px;
}

/* Loading */
.loading {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    overflow: show;
    height: 40px;
    width: 200px;
    background: #444;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
}

/* Detail */

.detail-box {
    background: #fbfbfb;
    border: 2px solid #efefef;
    border-radius: 10px;
    min-height: 120px;
    margin: 6px 15px;
    color: #444;
}

.detail-title {
    font-size: 18px;      
    padding: 0 0 0 10px;
}

.detail-content {
    padding: 15px;    
}

.detail-label {
    min-width: 160px;
}

.legend-item-default {
    width: 30px;
    height: 30px;
    background: #efefef;
    border: 2px solid #dfdfdf;
    display: inline-block;
}

.legend-item-late {
    background: #f2dede;
}

.legend-item-label {
    margin: 0 7px 16px 12px;
    vertical-align: middle;
}

.error-message {
    color: red; 
    display: block; 
    text-align: left;
}

.form-group label {
    margin-bottom: 0px !important;
}

.form-group-right {
    text-align: right;
}

.input-date {
    width: 120px;
}

span.label {
    
    float: left;
    width: 50px;
}

.date-stack {
    width: 180px;
    font-size: 14px;
    padding: 0px;    
    float: left;
}
div.clear {
    clear: both;
}

/* Grids */

.plan-container {
    display: flex;    
    overflow-x: scroll;
    border: 2px solid #ddd;
    margin: 0 15px;
}

.plan-info {
    clear: both;
    margin: 0 0 3px 0;
}

.day-plan {
    float: left;
    padding: 0;
    /*border-right: 2px dashed #ddd;*/
    min-width: 180px;
}

.day-title {
    color: #fefefe;
    text-align: center;
    font-size: 20px;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    background: #555;
    padding: 5px;
}

.group-day-plan {
    border: 3px solid #dfdfdf;
    background: #efefef;
    /*margin: 5px 0 0 0;*/
    margin: 0px;
    font-size: 13px;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

/* Menu Container */

.dropdown {
    display: inline-block;
}

.dropdown-toggle {
    overflow: hidden;
}

.dropdown-menu {
    cursor: pointer;
}

.menu-container {
    margin: 3px 15px;
}

.btn {
    margin-left: 2px;
}

.msg-current-plan {
    color: #444;
    font-size: 16px;
    margin-left: 10px;
}

/* Action Container */

.action-container {
    margin: 0 15px;
    text-align: right;
}

/* Detail List View */
.list-container {
    margin: 15px;
    overflow-y: scroll;
    max-height: 300px;
}

.detail-list-day {
    margin: 20px 0;
}

.detail-list-day-header {
    display: inline-block;
    width: 200px;
    background: #efefef;
    border-radius: 10px 10px 0 0;
    padding: 7px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.detail-list-day-content {
    background: #efefef;
    padding: 2px;
}

.detail-list-day-group {
    padding: 2px 0;
}

/* Manus */
span.manu-item {
    width: 0px;
    border-left: 1.3px solid transparent;
    border-right: 1.5px solid transparent;
    height: 100%;
    display:block;
    float:left;
}

/* Animation */

.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

.ng-enter.ng-enter-active {
  opacity:1;
}

#plan-schedule .ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

#plan-schedule .ng-enter.ng-enter-active {
  opacity:1;
}

/* Buttons */

.btn {
    cursor: pointer;
}

/* RBT Table Fix */
/*
table, tbody, tr, td {
    display: block;
}*/

/* Group Table */
.table {
    display: table!important;
}
.table-header-group {
    display: table-header-group !important;
}
.table-row {
    display: table-row!important;
}
td.table-cell{
    display: table-cell!important;
    padding: 2px;
}
